#warningKeywordLabel {
    -fx-text-fill: red;
}

#keywordsFlowPane {
    -fx-spacing: 5;
}

#keywordsFlowPane > HBox {
    -fx-border-color: #EDDDD4;
    -fx-border-radius: 5;
    -fx-alignment: center;
    -fx-padding: 2 5 2 5;
}

#keywordsFlowPane > HBox > Button {
    -fx-background-image: url("xIconRed.png");
    -fx-max-width: 20;
    -fx-max-height: 20;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-background-size: 20 20;
    -fx-background-radius: 10;
    -fx-background-color:transparent;
    -fx-border-insets: 10;
    -fx-background-insets: 10;
}

#keywordsFlowPane > HBox > Label {
    -fx-text-fill: #7CFFC4;
    -fx-padding: 5 10 5 10;
    -fx-alignment: center;
}

#keywordsFlowPane > HBox > Button:hover {
    -fx-cursor: hand;
}