#background {
    -fx-background-color: #283d3b;
}

#titlePane {
    -fx-min-height: 50px;
    -fx-max-width: 500px;

    -fx-border-color: #EDDDD4;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5;
}

#titleLabel {
    -fx-font-family: 'Allerta Stencil';
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-background-color: #EDDDD4;
}