#answersVBox {
    -fx-min-height: 350px;
    -fx-min-width: 400px;
    -fx-max-height: 600px;
    -fx-max-width: 800px;


    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}

.table-view {
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-padding: 0 0 0 0;
}

.table-row-cell:empty > .table-cell {
    -fx-background-color: white;
    -fx-border-color: white;
}

.table-row-cell:selected {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,2), 2, 0, 3, 3);
    -fx-background-border: 10px;
    -fx-text-background-color: black;
}

.table-row-cell {
    -fx-padding: 5 0 5 0;
    -fx-cell-size: 40px;
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
}

.table-view .column-header {
    -fx-cell-size: 50px;
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-border-color: black;
}

.table-view .table-cell{
    -fx-cell-size: 50px;
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-padding: 10 2 5 2;
    -fx-border-insets: 2;
    -fx-background-insets: 2;
}

.table-column {
    -fx-alignment: CENTER;
}

#answerButtons > .button {
    -fx-min-width: 50px;
    -fx-background-color: #B7E6E6;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#answerButtons > .button:hover {
    -fx-background-color: #D7FFFF;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

#answerButtons > .button:pressed {
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,2), 2, 0, 3, 3);
}

.text-field {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}