#questionListGridPane {
    -fx-min-height: 350px;
    -fx-min-width: 400px;
    -fx-max-height: 600px;
    -fx-max-width: 800px;


    -fx-background-color: #197278;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}

#questionListGridPane > Label {
    -fx-pref-width: 1000px;
    -fx-pref-height: 50px;
    -fx-font-size: 28px;

    -fx-text-fill: #7CFFC4;
}

#questionListGridPane > ListView {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-padding: 5 5 5 5;
    -fx-background-color: #283d3b;
}

#questionListGridPane > HBox > Button {
    -fx-min-width: 50px;
    -fx-text-fill: #7CFFC4;

    -fx-background-color: #197278;
    -fx-background-radius: 10px;
    -fx-border-color: #5BB2B2;
    -fx-border-radius: 10px
}

#questionListGridPane > HBox > Button:hover {
    -fx-cursor: hand;
}

#questionListGridPane > ListView .list-cell:empty{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#questionListGridPane > ListView .list-cell{
    -fx-border-color: #EDDDD4;
    -fx-border-radius: 5px;
    -fx-background-radius:5px;
    -fx-background-color: #283d3b;
    -fx-font-size: 16px;
    -fx-text-background-color: #EDDDD4;
    -fx-max-width: 1000px;
    -fx-padding: 5 5 5 5;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

#questionListGridPane > ListView .list-cell:selected{
    -fx-background-color: #197278;
}

#questionListGridPane > ListView .list-cell:filled:hover{
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #5BB2B2, 5, 0.5, 0, 0);
    -fx-background-border: 10px;
}