#questionListGridPane {
    -fx-min-height: 350px;
    -fx-min-width: 400px;
    -fx-max-height: 600px;
    -fx-max-width: 800px;


    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}

#questionListGridPane > Label {
    -fx-pref-width: 1000px;
    -fx-pref-height: 50px;
    -fx-font-size: 24px;
}

#questionListGridPane > ListView {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-padding: 5 5 5 5;
}

#questionListGridPane > HBox > Button {
    -fx-min-width: 50px;

    -fx-background-color: #B7E6E6;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px
}

#questionListGridPane > HBox > Button:hover {
    -fx-background-color: #D7FFFF;
    -fx-cursor: hand;
}

#questionListGridPane > HBox > Button:pressed {
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,2), 2, 0, 3, 3);
}

#questionListGridPane > ListView .list-cell:empty{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#questionListGridPane > ListView .list-cell{
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-radius:5px;
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-max-width: 1000px;
    -fx-padding: 5 5 5 5;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

#questionListGridPane > ListView .list-cell:selected{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,2), 2, 0, 3, 3);
    -fx-background-border: 10px;
    -fx-text-background-color: black;
}

#questionListGridPane > ListView .list-cell:filled:hover{
    -fx-background-color: #D7FFFF;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

#answerIdLabel {
    -fx-background-color: #ffcccc;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-radius:5px;
    -fx-alignment: center;

    -fx-max-width: 50;
    -fx-min-width: 50;
    -fx-max-height: 50;
    -fx-min-height: 50;
}

#answerTextLabel {
    -fx-background-color: red;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-alignment: center;
    -fx-max-width: 100;
}