#questionsScrollPane {
    -fx-background-color: #283d3b;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-border-color: #EDDDD4;
    -fx-background-radius: 10;
}

#questionScrollPane .viewport{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #EDDDD4;
    -fx-background-color: #283d3b;
}

#questionsVBox {
    -fx-background-color: #283d3b;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.questionVBox {
    -fx-border-color: #EDDDD4;
    -fx-border-radius: 5px;
    -fx-background-radius:5px;
    -fx-background-color: #283d3b;
    -fx-font-size: 16px;
    -fx-text-fill: #EDDDD4;
    -fx-padding: 10 50 40 50;
    -fx-background-insets: 10 0 10 0;
    -fx-border-insets: 10 0 10 0;
}

.list-view .list-cell:selected{
    -fx-background-color: #283d3b;
}

.list-view .list-cell:filled:hover{
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #5BB2B2, 5, 0.5, 0, 0);
    -fx-background-border: 10px;
}

#questionVBox {
    -fx-alignment: center;
}



#questionTitleLabel {
    -fx-text-fill: #EDDDD4;
    -fx-font-size: 25;
    -fx-padding: 10;
}

#answerIdLabel {
    -fx-max-height: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-min-width: 50;
    -fx-background-color: #283d3b;
    -fx-text-fill: #EDDDD4;
    -fx-border-color: #EDDDD4;
    -fx-border-radius: 5px;
    -fx-background-radius:5px;
    -fx-alignment: center;
    -fx-padding: 5;
}

#answerTextLabel {
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-alignment: center-left;
    -fx-text-fill: #EDDDD4;
    -fx-padding: 5;
}

#answerResultLabel {
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-alignment: center-left;
    -fx-text-fill: #EDDDD4;
    -fx-padding: 10;
}

#answerHBox {
    -fx-border-color: #EDDDD4;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}